<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="navbar">
            <a href="/">Home</a>
            <a class="active" href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
        <h1>These are my projects!</h1>
        <div id="projects">
            <div>
                <img src='@Url.Content("~/images/placeholder.png")'>
                <p>This is a project test.</p>
            </div>
            <div>
                <img src='@Url.Content("~/images/placeholder.png")'>
                <p>This is a project test.</p>
            </div>
            <div>
                <img src='@Url.Content("~/images/placeholder.png")'>
                <p>This is a project test.</p>
            </div>
            <div>
                <img src='@Url.Content("~/images/placeholder.png")'>
                <p>This is a project test.</p>
            </div>
            <div>
                <img src='@Url.Content("~/images/placeholder.png")'>
                <p>This is a project test.</p>
            </div>
        </div>
    </body>
</html>